<!DOCTYPE html>

<html>

<head>
    <title>git-repo-tile</title>

    <meta name="viewport" content="width = device-width, user-scalable = no" />
    <meta charset="utf-8" />

    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/git-repo-tile.css" />
</head>

<body>
    <div class="git-repo-tiles">
        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">
                <span class="git-repo-tile__avatar-letter">K</span>
            </div>

            <div class="git-repo-tile__content">
                <div class="git-repo-tile__repo-name">kts-school-frontend</div>
                <a href="#" class="git-repo-tile__org-link">ktsstudio</a>

                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__stars">
                        <img src="assets/star.svg" alt="Star icon" class="git-repo-tile__stars-icon" />
                        <span class="git-repo-tile__stars-count">123</span>
                    </div>

                    <div class="git-repo-tile__date">Updated 21 Jul</div>
                </div>
            </div>
        </div>

        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">
                <span class="git-repo-tile__avatar-letter">K</span>
            </div>

            <div class="git-repo-tile__content">
                <div class="git-repo-tile__repo-name">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Pariatur, mollitia. Est molestiae tenetur facere cumque. Exercitationem praesentium perspiciatis
                    consequatur optio.</div>
                <a href="#" class="git-repo-tile__org-link">ktsstudio</a>

                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__stars">
                        <img src="assets/star.svg" alt="Star icon" class="git-repo-tile__stars-icon" />
                        <span class="git-repo-tile__stars-count">123</span>
                    </div>

                    <div class="git-repo-tile__date">Updated 21 Jul</div>
                </div>
            </div>
        </div>

        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">
                <img src="assets/avatar.png" alt="Avatar" class="git-repo-tile__avatar-image" />
            </div>

            <div class="git-repo-tile__content">
                <div class="git-repo-tile__repo-name">very-long-repository-name-and...</div>
                <a href="#" class="git-repo-tile__org-link">ktsstudio</a>

                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__stars">
                        <img src="assets/star.svg" alt="Star icon" class="git-repo-tile__stars-icon" />
                        <span class="git-repo-tile__stars-count">123</span>
                    </div>

                    <div class="git-repo-tile__date">Updated 21 Jul</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
