<!DOCTYPE html>

<html>

<head>
    <title>input</title>

    <meta name="viewport" content="width = device-width, user-scalable = no" />
    <meta charset="utf-8" />

    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/input.css" />
</head>

<body>
    <div class="inputs">
        <input class="input" type="text" placeholder="Введите название организации" />
        <input class="input" type="text" placeholder="Введите название организации" value="kts-school-name" disabled />
    </div>
</body>

</html>
