<!DOCTYPE html>

<html>

<head>
    <title>repo-list</title>

    <meta name="viewport" content="width = device-width, user-scalable = no" />
    <meta charset="utf-8" />

    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/git-repo-tile.css" />
    <link rel="stylesheet" href="styles/input.css" />
    <link rel="stylesheet" href="styles/search-button.css" />
    <link rel="stylesheet" href="styles/repo-list.css" />
</head>

<body>
    <div class="repo-list">
        <form class="search-bar">
            <input type="text" class="input" placeholder="Введите название организации" />
            <button class="search-button"><img src="assets/search.svg" alt="Search" /></button>
        </form>

        <div class="repo-list__repos">
            <div class="git-repo-tile">
                <div class="git-repo-tile__avatar">
                    <span class="git-repo-tile__avatar-letter">K</span>
                </div>

                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__repo-name">kts-school-frontend</div>
                    <a href="#" class="git-repo-tile__org-link">ktsstudio</a>

                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__stars">
                            <img src="assets/star.svg" alt="Star icon" class="git-repo-tile__stars-icon" />
                            <span class="git-repo-tile__stars-count">123</span>
                        </div>

                        <div class="git-repo-tile__date">Updated 21 Jul</div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__avatar">
                    <span class="git-repo-tile__avatar-letter">K</span>
                </div>

                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__repo-name">kts-school-frontend</div>
                    <a href="#" class="git-repo-tile__org-link">ktsstudio</a>

                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__stars">
                            <img src="assets/star.svg" alt="Star icon" class="git-repo-tile__stars-icon" />
                            <span class="git-repo-tile__stars-count">123</span>
                        </div>

                        <div class="git-repo-tile__date">Updated 21 Jul</div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__avatar">
                    <span class="git-repo-tile__avatar-letter">K</span>
                </div>

                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__repo-name">kts-school-frontend</div>
                    <a href="#" class="git-repo-tile__org-link">ktsstudio</a>

                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__stars">
                            <img src="assets/star.svg" alt="Star icon" class="git-repo-tile__stars-icon" />
                            <span class="git-repo-tile__stars-count">123</span>
                        </div>

                        <div class="git-repo-tile__date">Updated 21 Jul</div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__avatar">
                    <span class="git-repo-tile__avatar-letter">K</span>
                </div>

                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__repo-name">kts-school-frontend</div>
                    <a href="#" class="git-repo-tile__org-link">ktsstudio</a>

                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__stars">
                            <img src="assets/star.svg" alt="Star icon" class="git-repo-tile__stars-icon" />
                            <span class="git-repo-tile__stars-count">123</span>
                        </div>

                        <div class="git-repo-tile__date">Updated 21 Jul</div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__avatar">
                    <span class="git-repo-tile__avatar-letter">K</span>
                </div>

                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__repo-name">kts-school-frontend</div>
                    <a href="#" class="git-repo-tile__org-link">ktsstudio</a>

                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__stars">
                            <img src="assets/star.svg" alt="Star icon" class="git-repo-tile__stars-icon" />
                            <span class="git-repo-tile__stars-count">123</span>
                        </div>

                        <div class="git-repo-tile__date">Updated 21 Jul</div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__avatar">
                    <span class="git-repo-tile__avatar-letter">K</span>
                </div>

                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__repo-name">kts-school-frontend</div>
                    <a href="#" class="git-repo-tile__org-link">ktsstudio</a>

                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__stars">
                            <img src="assets/star.svg" alt="Star icon" class="git-repo-tile__stars-icon" />
                            <span class="git-repo-tile__stars-count">123</span>
                        </div>

                        <div class="git-repo-tile__date">Updated 21 Jul</div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__avatar">
                    <span class="git-repo-tile__avatar-letter">K</span>
                </div>

                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__repo-name">kts-school-frontend</div>
                    <a href="#" class="git-repo-tile__org-link">ktsstudio</a>

                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__stars">
                            <img src="assets/star.svg" alt="Star icon" class="git-repo-tile__stars-icon" />
                            <span class="git-repo-tile__stars-count">123</span>
                        </div>

                        <div class="git-repo-tile__date">Updated 21 Jul</div>
                    </div>
                </div>
            </div>

            <div class="git-repo-tile">
                <div class="git-repo-tile__avatar">
                    <span class="git-repo-tile__avatar-letter">K</span>
                </div>

                <div class="git-repo-tile__content">
                    <div class="git-repo-tile__repo-name">kts-school-frontend</div>
                    <a href="#" class="git-repo-tile__org-link">ktsstudio</a>

                    <div class="git-repo-tile__info">
                        <div class="git-repo-tile__stars">
                            <img src="assets/star.svg" alt="Star icon" class="git-repo-tile__stars-icon" />
                            <span class="git-repo-tile__stars-count">123</span>
                        </div>

                        <div class="git-repo-tile__date">Updated 21 Jul</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
