<!DOCTYPE html>

<html>

<head>
    <title>search-button</title>

    <meta name="viewport" content="width = device-width, user-scalable = no" />
    <meta charset="utf-8" />

    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/search-button.css" />
</head>

<body>
    <div class="search-buttons">
        <button class="search-button">
            <img src="assets/search.svg" alt="Search" class="search-button__icon" />
        </button>

        <button class="search-button" disabled>
            <img src="assets/search.svg" alt="Search" class="search-button__icon" />
        </button>
    </div>
</body>

</html>
