:root {
    --colorHint: #7e7e7e;
    --colorDefault: #000000;
    --colorBorder: #d9d9d9;
    --accent: #ff5555;
    --background: #ffffff;
    --starAccent: #ff9432;
    --linkHover: #208fbf;

    --backgroundBody: #f9f9f9;
    --colorShadow: rgba(182, 182, 182, 0.25);
}
