:root {
    --input-border-color: #d9d9d9;

    --input-placeholder-color: #7e7e7e;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.input {
    border: 1px solid var(--input-border-color);
    border-radius: 6px;
    font: inherit;
    line-height: 16.41px;
    padding: 0 12px;

    width: 100%;
    height: 50px;
}

.input:focus {
    border-color: var(--accent);
}

.input:disabled {
    background: var(--backgroundBody);
    color: var(--colorHint);
}

.input::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1; /* В некоторых браузерах другое значение по умолчанию */
}
