.search-buttons {
    display: flex;
    gap: 50px;
}

.search-button {
    background: var(--accent);
    border-radius: 6px;

    width: 50px;
    height: 50px;
}

.search-button:active {
    opacity: 0.7;
}

.search-button:disabled {
    background: var(--colorBorder);
    opacity: 1;
}

.search-button__icon {
    vertical-align: middle;

    width: 24px;
    height: 24px;
}
